@import '../../lib/sass/mixins.scss';

.todoEdit {
  flex-grow: 1;
  @include flex($justify: center, $items: flex-start, $gap: 0.5rem, $dir: column);

  &__status {
    @include flex($justify: center, $items: center, $gap: 0, $dir: column);

    @include for-tablet-up {
      @include flex($justify: center, $items: center, $gap: 1rem, $dir: row);
    }
    font-size: var(--fs-300);
    width: 100%;

    &_waiting {
      @include button($bg: #000000);
      width: 100%;
    }
    &_inprocess {
      @include button($bg: #364fc7);
      width: 100%;
    }
    &_done {
      @include button($bg: #5c940d);
      width: 100%;
    }
  }

  &__form {
    @include flex($justify: space-between);
    min-height: 2rem;
    width: 100%;
    font-size: var(--fs-400);

    input {
      border: none;
      outline: none;
      font-size: var(--fs-500);
      width: 100%;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__body {
    @include flex($justify: space-between);
    width: 100%;

    textarea {
      border: none;
      outline: none;
      resize: none;
      font-size: var(--fs-400);
      width: 100%;
    }
  }
}
