@import '../../lib/sass/mixins.scss';

.todoEdit {
  flex-grow: 1;

  &__status {
    @include flex($justify: center, $items: center, $gap: 10px, $dir: row);
  }

  &__statusButton {
    &_type {
      &_waiting {
        @include button;
        font-size: 10px;
      }
      &_inProcess {
        @include button;
        font-size: 10px;
        background-color: #364fc7;
      }
      &_done {
        @include button;
        font-size: 10px;
        background-color: #5c940d;
      }
    }
  }

  &__header {
    @include flex($justify: space-between);
    min-height: 2rem;
    border-bottom: 1px solid black;
    margin-bottom: 0.5rem;

    input {
      border: none;
      outline: none;
      padding: 2px;
      border: 1px dashed #000;
      width: 100%;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__body {
    @include flex($justify: space-between);

    textarea {
      outline: none;
      resize: vertical;
      padding: 2px;
      border: 1px dashed #000;
      width: 100%;
      min-height: 100vmin;
    }
  }
}
