.aside {
  resize: horizontal;
  padding: 0.5rem;
  border-right: 1px solid black;
  overflow: hidden;

  &__header {
    min-height: 30px;
    border-bottom: 2px solid black;
    margin-bottom: 0.5rem;
  }
}
