@import '../../lib/sass/mixins.scss';

.addTodo {
  resize: horizontal;
  padding: 0.5rem;
  border-right: 1px solid black;
  overflow: hidden;

  &__header {
    min-height: 30px;
    border-bottom: 1px solid black;
    margin-bottom: 0.5rem;
  }

  &__button {
    @include button($br: 4px, $px: 0, $py: 0.5em, $clr: #fff, $bg: #000);
  }
}
